.popup__info{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0 0 10px 0;
    margin: 0 0 32px 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-right: none;
    border-left: none;

}

@media screen and (min-width: 1280px){
    .popup__info{
        width: 358px;

     

    }
}

